<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!-- Add additional CSS in static file 
   .....................VAMOS A DEJAR ESTO PARA EDITAR EL BACKGROUND E IMAGENES DE NUESTRA PLANTILLA STATIC.............
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <img src="{% static 'catalog/images/pexels1.jpg' %}" alt="My image" style="width:400px;height:400px;"/> -->
   

</head>

<body>
    <!-- HEADER BAR AQUÍ -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Local Library</a>
          <!-- <a class="navbar-brand navbar-center" href="{% url 'index' %}">Local Library</a>     Esto sería alternativa para ponerle en el centro de la barra superior-->
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'index' %}">Inicio</a></li>
          <li><a href="{% url 'books' %}">Libros</a></li>
          <li><a href="{% url 'authors' %}">Autores</a></li>
        </ul>
      
      
        <!-- OPCIONES A LA DERECHA -->

      </div>
    </nav>

    <!-- FIN HEADER BAR -->
    <!-- Aquí empieza el contenido de la página web, en este caso el contenido de la página principal. 
    <section id="inicio">
      <div class="contenido">
          
          <div class="presentacion">
              <p class="bienvenida">Welcome</p>
              <h2> It's <span> The Library</span>, Books Web</h2>
              <p class="descripcion">" The present is theirs; the future, for which I really worked, is mine" Nikola Tesla</p>
              
              <a href="#portfolio">Ir a Portafolio</a>
          </div> 
                   
      </div>
  </section>
-->
  
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2 sidebar-custom"> 
      {% block sidebar %}
      <ul class="sidebar-nav">
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'books' %}">Todos los libros</a></li>  <!-- URL para ver todos los libros, esto lo hacemos después de crear el templates/catalog/book_list.html. Para que tenga acceso a la plantilla genérica (extend) y luego como el código como queremos que se vea esa página  -->
        <li><a href="{% url 'authors' %}">Todos los autores</a></li> <!-- URL para ver el autor de un libro, esto lo hacemos después de crear el templates/catalog/autor_list.html. Para que tenga acceso a la plantilla genérica (extend) y luego como el código como queremos que se vea esa página  --> 
        
        <br>

        
      {% if user.is_authenticated %}
        <li>User: {{ user.get_username }}</li>
        <li>
          <form method="post" action="{% url 'logout' %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit" style="background:none; border:none; padding:0; margin:0; color:#337ab7; cursor:pointer;">
                  Cerrar sesión
              </button>
          </form>
      </li>
      <hr>
      <li><a href="{% url 'my-borrowed' %}">Mis libros prestados</a></li>
        
      {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">Iniciar sesión</a></li>
      {% endif %}
        <hr>
      {% if perms.catalog.can_mark_returned %}
        <li>Staff: {{ user.get_username }}</li>
        <li><a href="{% url 'all-borrowed' %}">Todos los préstamos</a></li>
        <hr>
        <li><a href="{% url 'author-create' %}">Create Author</a></li>
        <li><a href="{% url 'author-list-for-librarians' %}">Lista de Autores</a></li>
        <li><a href="{% url 'author-list-for-librarians' %}">Modificar Autor</a></li>
        <hr>
        <li><a href="{% url 'book-create-with-instance' %}">Crear Libro</a></li>
        <li><a href="{% url 'book-list-for-librarians' %}">🗑️ Eliminar Libros</a></li>
    
      {% endif %}

      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10" >  <!-- Columna para el contenido de la página, en este caso el contenido de la página principal. -->
        <div class="main">
          {% block content %}
    
          {% endblock %}


          {% block pagination %}
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">anterior</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">siguiente</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}


          {% endblock %}
        </div> <!-- Fin de la columna principal -->
        

    
      </div>
    </div>

  </div>
</body>
</html>