{% extends "base_generic.html" %}

{% block content %}
  <h1>{% if form.instance.id %}Editar{% else %}Nuevo{% endif %} Autor</h1>
  
  {% if form.errors %}
  <ul class="errorlist">
      {% for field in form %}
          {% if field.errors %}
              <li>
                  {% for error in field.errors %}
                      <strong>{{ field.label }}:</strong> {{ error }}
                  {% endfor %}
              </li>
          {% endif %}
      {% endfor %}
  </ul>
  {% endif %}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <div class="form-buttons mt-3">
      <input type="submit" value="Guardar" class="btn btn-primary" />
      <a href="{% url 'authors' %}" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>

{% endblock %}